/node_modules
.env
.env.*
!.env.example
/logs
*.log
*.DS_Store
.idea/
.vscode/
*.swp
python.zip
src.zip
nodejs_src.zip
git_diff.txt
exportar_proyecto.sh
src/swagger.yaml
proyecto_completo.txt
proyecto_completo_*.txt
proyecto_completo_email-cleaner-fastify.txt
__pycache__/
*.pyc
