version: "3.9"
services:
  api:
    build: ./apps/api
    env_file: ./apps/api/.env
    ports: ["3000:3000"]
    command: npm run dev
    depends_on: [ml]

  ml:
    build: ./apps/ml
    env_file: ./apps/ml/.env
    ports: ["5055:5055"]
    command: uvicorn app:app --reload --host 0.0.0.0 --port 5055

  web:
    build: ./apps/web
    environment:
      - VITE_API_URL=http://localhost:3000
    ports: ["5173:5173"]
    command: npm run dev -- --host
    depends_on: [api]
